body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: rgb(164, 243, 243);
  padding: 3em;
  margin-bottom: 1em;
}

h1 {
  margin: 0;
}

main {
  width: 90%;
  margin: auto;
}

section {
  background-color: rgb(233, 250, 230);
  padding: 0.5em;
  margin-bottom: 1em;
}

th {
  text-align: left;
}

button.deleteBttn {
  color: red;
}
